/* src/components/HeroSection.css */
.hero-section {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.hero-content {
  text-align: center;
  /* color: #ffffff; */
}

.ncb-logo {
  margin-bottom: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  width: 70px; /* Adjust the size of the logo */
  height: auto;
  margin: 10px;
}

.ncb-text {
  margin-bottom: 20px;
  position: absolute;
  top: 32px;
  left: 83px;
  color: #b79d3e;
  font-size: 1.7rem;
  width: 70px;
}

.hero-title {
  position: inherit;
  font-size: 3rem;
  margin-bottom: 20px;
  padding: 15px;
  color: #fcea49;
}

.text-content {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: white;
}

.signup {
  font-size: larger;
  position: absolute;
  top: 4%;
  text-align: center;
  max-height: 35px;
  width: 115px;
  right: 5%;
  background-color: #90d6f4;
  color: black;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.signup:hover {
  background-color: #0056b3;
}

/* Styling for the Cryptocurrency Icons */
.crypto-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.crypto-icon {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

.crypto-icon:hover {
  transform: scale(1.2);
}

#Bitcoin {
  margin-bottom: 20px;
  transform: rotate(-50deg);
  position: absolute;
  top: 220px;
  left: 280px;
}
#Dogecoin {
  margin-bottom: 20px;
  transform: rotate(30deg);
  position: absolute;
  top: 230px;
  right: 300px;
}
#Ethereum {
  margin-bottom: 20px;
  position: absolute;
  transform: rotate(17deg);
  top: 400px;
  left: 180px;
}
#polygon {
  margin-bottom: 20px;
  position: absolute;
  top: 400px;
  transform: rotate(125deg);
  right: 200px;
}
