.transaction-table {
  width: 80px;
  border-collapse: collapse;
  margin-top: 30px;
  height: 10px;
  color: white;
  font-size: 15px;
  padding: 6px;
}

.transaction-table th,
.transaction-table td {
  border: 2px solid white;
  padding: 6px;
  text-align: left;
}

.transaction-table th {
  font-size: 15px;
  color: white;
}

/* Conditional coloring for risk levels */
.risk-high {
  background-color: #e42c2cd0; /* Red for high risk */
  color: white;
  font-size: 16px;
}
.red-row {
  background-color: red; /* Red background for rows */
  color: white; /* Optional: change text color for better contrast */
}

button {
  margin-top: 20px; /* Space above the button */
  padding: 10px 20px; /* Padding inside the button */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  background-color: #202020; /* Background color */
  color: #64b5f6; /* Text color */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Transition effect */
}

button:hover {
  background-color: rgb(53, 48, 48); /* Change background on hover */
}
